<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1" />
	<title></title>
	<script src="../common/jQuery/jquery-2.1.0.min.js"></script>
	<script src="../common/jQuery/jquery.mobile-1.4.5.min.js"></script>
	<script src="../common/mobile.js"></script>
	<script src="../common/swipe/swipe.js"></script>
	<script src="../common/js/common.js"></script>
	<link href="../common/jQuery/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" />
	<link href="../common/css/common.css" rel="stylesheet" />
	<link href="../common/css/chehi.css" rel="stylesheet" />
	<link href="../common/icomoon/icomoon.css" rel="stylesheet" />
	<script src="../common/jQuery/jquery.validate.min.js"></script>
	<script src="../common/jQuery/jquery.validate.addMethod.js"></script>
	<link href="../common/photoswipe/photoswipe.css" rel="stylesheet" />
	<link href="../common/photoswipe/default-skin/default-skin.css" rel="stylesheet" />
	<script src="../common/photoswipe/photoswipe.min.js"></script>
	<script src="../common/photoswipe/photoswipe-ui-default.min.js"></script>
	<script src="../common/photoswipe/creatPhotoswipe.js"></script>
	<link href="../common/mobiscroll/mobiscroll-2.11.1.full.min.css" rel="stylesheet" />
	<script src="../common/mobiscroll/mobiscroll-2.11.1.full.min.js"></script>
</head>
<body>
	<div data-role="page" id="MyCollect">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="#" data-rel="back" class="ui-btn-left btn-back icomoon-fanhui">返回</a>
			<h1>我的收藏</h1>
		</div>
		<div role="main" class="ui-content ui-content-full">
			<div class="j_Tab">
				<ul class="clearfix listSort listSort-2 j_TabNavs">
					<li class="active"><a href="#">经销商</a></li>
					<li><a href="#">团队</a></li>
				</ul>
				<div class="j_TabContent" style="display:block;">
					<ul class="fundiList2">
						<li>
							<a href="/技师主页.html" class="fundi-item">
								<img class="fundi-img" src="../common/imgs/1.jpg" />
								<div class="fundi-name">版本神奇</div>
								<div class="fundi-info">接单：425次</div>
								<div class="fundi-price">均价：<span class="price">￥108</span></div>
								<div class="fundi-score"><span>技术：4.9</span><span>态度：5.0</span><span>准点：4.8</span></div>
								<div class="grade grade-1-5"></div>
							</a>
						</li>
						<li>
							<a href="/技师主页.html" class="fundi-item">
								<img class="fundi-img" src="../common/imgs/1.jpg" />
								<div class="fundi-name">版本神奇</div>
								<div class="fundi-info">接单：425次</div>
								<div class="fundi-price">均价：<span class="price">￥108</span></div>
								<div class="fundi-score"><span>技术：4.9</span><span>态度：5.0</span><span>准点：4.8</span></div>
								<div class="grade grade-1-5"></div>
							</a>
						</li>
						<li>
							<a href="/技师主页.html" class="fundi-item">
								<img class="fundi-img" src="../common/imgs/1.jpg" />
								<div class="fundi-name">版本神奇</div>
								<div class="fundi-info">接单：425次</div>
								<div class="fundi-price">均价：<span class="price">￥108</span></div>
								<div class="fundi-score"><span>技术：4.9</span><span>态度：5.0</span><span>准点：4.8</span></div>
								<div class="grade grade-1-5"></div>
							</a>
						</li>
						<li>
							<a href="/技师主页.html" class="fundi-item">
								<img class="fundi-img" src="../common/imgs/1.jpg" />
								<div class="fundi-name">版本神奇</div>
								<div class="fundi-info">接单：425次</div>
								<div class="fundi-price">均价：<span class="price">￥108</span></div>
								<div class="fundi-score"><span>技术：4.9</span><span>态度：5.0</span><span>准点：4.8</span></div>
								<div class="grade grade-1-5"></div>
							</a>
						</li>
						<li>
							<a href="/技师主页.html" class="fundi-item">
								<img class="fundi-img" src="../common/imgs/1.jpg" />
								<div class="fundi-name">版本神奇</div>
								<div class="fundi-info">接单：425次</div>
								<div class="fundi-price">均价：<span class="price">￥108</span></div>
								<div class="fundi-score"><span>技术：4.9</span><span>态度：5.0</span><span>准点：4.8</span></div>
								<div class="grade grade-1-5"></div>
							</a>
						</li>
					</ul>
					<a href="#" class="ui-btn btn-more" id="J_MoreMan">更多</a>
				</div>
				<div class="j_TabContent">
					<ul class="worksList clearfix">
				<li>
					<a href="/服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="/服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
				<li>
					<a href="服务详情.html" class="works-item">
						<div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
						<div class="works-title">版本神奇</div>
						<div class="works-num">服务 26 次</div>
						<div class="works-price">￥108</div>
					</a>
				</li>
			</ul>
					<a href="#" class="ui-btn btn-more" id="J_MoreWorks">更多</a>
				</div>
			</div>
		</div>
		<script>
			$(document).on("pageinit", "#MyCollect", function () {
				var page = $(this);

				//#region 技师主页
				page.find("#J_MoreMan").on("tap", function (ev) {
					ev.preventDefault();
					var me = $(this);
					$.mobile.loading('show');
					var elList = me.prev("ul");
					var pIndex = elList.attr('data-page') ? elImgList.attr('data-page') : 1;
					pIndex = pIndex - 0 + 1;
					$.mobile.loading('hide');
					//TODO:更多技师主页
					//var url = '_ArticleList.html?pageIndex=' + pIndex;
					//$.ajax({
					//	url: url,
					//	success: function (resText, state, xhr) {
					//		if (resText) {
					//			elList.attr('data-page', pIndex);
					//			elList.append(resText);
					//		}
					//		else {
					//			me.hide();
					//		}
					//		$.mobile.loading('hide');
					//	}
					//});
				});
				//#endregion
				//#region 服务详情
				page.find("#J_MoreWorks").on("tap", function (ev) {
					ev.preventDefault();
					var me = $(this);
					$.mobile.loading('show');
					var elList = me.prev("ul");
					var pIndex = elList.attr('data-page') ? elImgList.attr('data-page') : 1;
					pIndex = pIndex - 0 + 1;
					$.mobile.loading('hide');
					//TODO:更多服务详情
					//var url = '_ArticleList.html?pageIndex=' + pIndex;
					//$.ajax({
					//	url: url,
					//	success: function (resText, state, xhr) {
					//		if (resText) {
					//			elList.attr('data-page', pIndex);
					//			elList.append(resText);
					//		}
					//		else {
					//			me.hide();
					//		}
					//		$.mobile.loading('hide');
					//	}
					//});
				});
				//#endregion
			});
		</script>
	</div>
</body>
</html>
