<div ui-content-for="title">
	<a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
	<span>我的钱包</span>
	<a class="pull-right" href="{{prefix}}reg">充值</a>
</div>
<div class="scrollable-wrap">
	<div class="scrollable">
		<div class="scrollable-content">
			<div class="money-content-title">
				余额：
				<span>10000.00</span>
				冻结：
				<span>10000.00</span>
				<a href="提现.html">提现</a>
			</div>
			<ul class="money-content">
				<li class="title">
					<div class="left">日期</div>
					<div class="center">金额</div>
					<div class="right">备注</div>
				</li>
				<li>
					<div class="left">2015-01-01 17:28:36</div>
					<div class="center ">+ 8.00</div>
					<div class="right">系统充值</div>
				</li>
				<li>
					<div class="left">2015-01-01 17:28:36</div>
					<div class="center money-negative">- 8.00</div>
					<div class="right">快速洗车</div>
				</li>
				<li>
					<div class="left">2015-01-01 17:28:36</div>
					<div class="center">+ 8.00</div>
					<div class="right">系统充值</div>
				</li>
			</ul>
		</div>
	</div>
</div>