<div ui-content-for="title">
  <a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
  <span>支付记录</span>
</div>
<div class="scrollable-wrap">
	<div class="scrollable">
		<div class="scrollable-content">
			<ul class="payList">
				<li>
					<div class="item">
						<span>操作时间:</span>2015-03-25   13:11:26
					</div>
					<div class="item">
						<span>支付金额:</span>￥10000.00
					</div>
					<div class="item">
						<span>支付方式:</span>
						钱包支付
					</div>
					<div class="item">
						<span>相关商品:</span>
						上门洗车
					</div>
				</li>
				<li>
					<div class="item">
						<span>操作时间:</span>2015-03-25   13:11:26
					</div>
					<div class="item">
						<span>支付金额:</span>￥10000.00
					</div>
					<div class="item">
						<span>支付方式:</span>
						钱包支付
					</div>
					<div class="item">
						<span>相关商品:</span>
						上门洗车
					</div>
				</li>
				<li>
					<div class="item">
						<span>操作时间:</span>2015-03-25   13:11:26
					</div>
					<div class="item">
						<span>支付金额:</span>￥10000.00
					</div>
					<div class="item">
						<span>支付方式:</span>
						钱包支付
					</div>
					<div class="item">
						<span>相关商品:</span>
						上门洗车
					</div>
				</li>
				<li>
					<div class="item">
						<span>操作时间:</span>2015-03-25   13:11:26
					</div>
					<div class="item">
						<span>支付金额:</span>￥10000.00
					</div>
					<div class="item">
						<span>支付方式:</span>
						钱包支付
					</div>
					<div class="item">
						<span>相关商品:</span>
						上门洗车
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>