<div ui-content-for="title">
  <a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
  <span>直销团队</span>
  <a class="pull-right" href="{{prefix}}reg">搜索</a>
</div>
<div class="scrollable-wrap">
  <div class="scrollable">
    <div class="scrollable-content">
      <ul class="worksList">
        <li>
          <a href="/member.html" class="works-item ui-link">
            <div class="works-img">
              <img src="imgs/1.jpg">
            </div>
            <div class="works-title">新系统</div>
            <div class="works-num">品牌:润和</div>
            <div class="works-price">人数:108</div>
          </a>
        </li>
        <li>
          <a href="/member.html" class="works-item ui-link">
            <div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
            <div class="works-title">新系统</div>
            <div class="works-num">品牌:润和</div>
            <div class="works-price">人数:108</div>
          </a>
        </li>
        <li>
          <a href="/member.html" class="works-item ui-link">
            <div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
            <div class="works-title">新系统</div>
            <div class="works-num">品牌:润和</div>
            <div class="works-price">人数:108</div>
          </a>
        </li>
        <li>
          <a href="/member.html" class="works-item ui-link">
            <div class="works-img" style="background-image: url('../common/imgs/1.jpg')"></div>
            <div class="works-title">新系统</div>
            <div class="works-num">品牌:润和</div>
            <div class="works-price">人数:108</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>