<div data-role="page" id="BankCard">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="#" data-rel="back" class="ui-btn-left btn-back icomoon-fanhui">返回</a>
			<h1>银行卡</h1>
		</div>
		<div role="main" class="ui-content">
			<ul class="link-angle-r bankCardList">
				<li>
					<a href="/添加银行卡.html" class="card-item">
						<img src="../common/card/bank-zhongyin.svg" class="card-logo" />
						<div class="card-bank">银行：中国银行</div>
						<div class="card-no">卡号：****  ****  ****  2658</div>
					</a>
				</li>
				<li>
					<a href="/添加银行卡.html" class="card-item">
						<img src="../common/card/bank-zhongyin.svg" class="card-logo" />
						<div class="card-bank">银行：中国银行</div>
						<div class="card-no">卡号：****  ****  ****  2658</div>
					</a>
				</li>
			</ul>
			<div class="noBankCard">
				<a href="/添加银行卡.html" class="icomoon-jia noBankCard-link"></a>
				<div class="noBankCard-tips">最多添加3张银行卡！</div>
			</div>
		</div>		
	</div>
