<div ui-content-for="title">
  <a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
  <span>直销社区</span>
  <a class="pull-right" href="{{prefix}}login">发布</a>
</div>
<div class="scrollable-wrap">
  <div class="scrollable">
    <div class="scrollable-content">
      <div role="main" class="ui-content ui-content-full community-box">
        <div class="community">
          <div class="community-title">
            <img src="../common/imgs/1.jpg" class="my-img" />
            <div class="my-name">吴波</div>
            <div class="my-time">
              今天20：00
              <span>正在从事:润和</span>
            </div>
          </div>
          <div class="community-content">终于高大上一回,学校给我们每个人配一个平板商快，周末还可以带回来玩。突然上课也有精神气儿了，相见恨晚。</div>
          <div class="community-option customer-option clearfix">
            <span class="customer-location">
              <i class="icomoon-address"></i>
              江西南昌
            </span>
            <div class="community-option-box">
              <a class="community-btn" href="javascript:;">
                <i class="icomoon-dianhua"></i>
              </a>
              <a class="community-btn" href="javascript:;">
              <i class="icomoon-huifu"></i>
              </a>
            </div>
          </div>
          <div class="community-replay-list  customer-replay-list">
            <ul>
              <li>
                <span >张三</span>
                :哎不错哦!
              </li>
              <li>
                <span >张三</span>
                回复
                <span >李四</span>
                :确实不错哦！
              </li>
            </ul>
          </div>
          <div class="community-replay-input">
            <input id="price" name="price" placeholder="我也说一句..." />
          </div>
        </div>
        <div class="community">
          <div class="community-title">
            <img src="../common/imgs/1.jpg" class="my-img" />
            <div class="my-name">吴波</div>
            <div class="my-time">
              今天20：00
              <span>正在从事:润和</span>
            </div>
          </div>
          <div class="community-content">终于高大上一回,学校给我们每个人配一个平板商快，周末还可以带回来玩。突然上课也有精神气儿了，相见恨晚。</div>
          <div class="community-option customer-option clearfix">
            <span class="customer-location">
              <i class="icomoon-address"></i>
              江西南昌
            </span>
            <div class="community-option-box">
              <a class="community-btn" href="javascript:;">
                <i class="icomoon-dianhua"></i>
              </a>
              <a class="community-btn" href="javascript:;">
              <i class="icomoon-huifu"></i>
              </a>
            </div>
          </div>
          <div class="community-replay-list  customer-replay-list">
            <ul>
              <li>
                <span >张三</span>
                :哎不错哦!
              </li>
              <li>
                <span >张三</span>
                回复
                <span >李四</span>
                :确实不错哦！
              </li>
            </ul>
          </div>
          <div class="community-replay-input">
            <input id="price" name="price" placeholder="我也说一句..." />
          </div>
        </div>
        <div class="community">
          <div class="community-title">
            <img src="../common/imgs/1.jpg" class="my-img" />
            <div class="my-name">吴波</div>
            <div class="my-time">
              今天20：00
              <span>正在从事:润和</span>
            </div>
          </div>
          <div class="community-content">终于高大上一回,学校给我们每个人配一个平板商快，周末还可以带回来玩。突然上课也有精神气儿了，相见恨晚。</div>
          <div class="community-option customer-option clearfix">
            <span class="customer-location">
              <i class="icomoon-address"></i>
              江西南昌
            </span>
            <div class="community-option-box">
              <a class="community-btn" href="javascript:;">
                <i class="icomoon-dianhua"></i>
              </a>
              <a class="community-btn" href="javascript:;">
              <i class="icomoon-huifu"></i>
              </a>
            </div>
          </div>
          <div class="community-replay-list  customer-replay-list">
            <ul>
              <li>
                <span >张三</span>
                :哎不错哦!
              </li>
              <li>
                <span >张三</span>
                回复
                <span >李四</span>
                :确实不错哦！
              </li>
            </ul>
          </div>
          <div class="community-replay-input">
            <input id="price" name="price" placeholder="我也说一句..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>