<div ui-content-for="title">
	<a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
	<span>经销商列表</span>
</div>
<div class="scrollable-wrap">
	<div class="scrollable">
		<div class="scrollable-content">
            <ui-state id='activeTab' default='1'></ui-state>
			<div role="main" class="ui-content ui-content-full">
				<ul class="clearfix listSort" id="J_Sort">
					<li ui-set="{'activeTab': 1}"
                        ui-class="{'active': activeTab == 1}">
						<a  data-value="1">综合排序</a>
					</li>
					<li ui-set="{'activeTab': 2}"
                        ui-class="{'active': activeTab == 2}">
						<a  data-value="2">积分排名</a>
					</li>
					<li ui-set="{'activeTab': 3}"
                        ui-class="{'active': activeTab == 3}">
						<a  data-value="3">人气排名</a>
					</li>
				</ul>
				<ul class="fundiList2" ui-if="activeTab == 1">
					<li>
						<a href="/person.html" class="fundi-item">
							<img class="fundi-img circle-img" src="../common/imgs/1.jpg" />
							<div class="fundi-name">版本神奇</div>
							<div class="fundi-title">
								<span>浙江 杭州</span>
								<span>从事品牌:润和</span>
							</div>
							<div class="fundi-score">
								<span>欢迎访问我的淘宝店铺</span>
							</div>
							<div class="grade grade-1-5"></div>
						</a>
					</li>
					<li>
						<a href="person.html" class="fundi-item">
							<img class="fundi-img" src="../common/imgs/1.jpg" />
							<div class="fundi-name">版本神奇</div>
							<div class="fundi-title">
								<span>浙江 杭州</span>
								<span>从事品牌:润和</span>
							</div>
							<div class="fundi-score">
								<span>欢迎访问我的淘宝店铺</span>
							</div>
							<div class="grade grade-1-5"></div>
						</a>
					</li>
					<li>
						<a href="person.html" class="fundi-item">
							<img class="fundi-img" src="../common/imgs/1.jpg" />
							<div class="fundi-name">版本神奇</div>
							<div class="fundi-title">
								<span>浙江 杭州</span>
								<span>从事品牌:润和</span>
							</div>
							<div class="fundi-score">
								<span>欢迎访问我的淘宝店铺</span>
							</div>
							<div class="grade grade-1-5"></div>
						</a>
					</li>
					<li>
						<a href="person.html" class="fundi-item">
							<img class="fundi-img" src="../common/imgs/1.jpg" />
							<div class="fundi-name">版本神奇</div>
							<div class="fundi-title">
								<span>浙江 杭州</span>
								<span>从事品牌:润和</span>
							</div>
							<div class="fundi-score">
								<span>欢迎访问我的淘宝店铺</span>
							</div>
							<div class="grade grade-1-5"></div>
						</a>
					</li>
					<li>
						<a href="person.html" class="fundi-item">
							<img class="fundi-img" src="../common/imgs/1.jpg" />
							<div class="fundi-name">版本神奇</div>
							<div class="fundi-title">
								<span>浙江 杭州</span>
								<span>从事品牌:润和</span>
							</div>
							<div class="fundi-score">
								<span>欢迎访问我的淘宝店铺</span>
							</div>
							<div class="grade grade-1-5"></div>
						</a>
					</li>
					<a href="#" class="fundiList2-btn-more">更多</a>
				</ul>
                <ul class="fundiList2" ui-if="activeTab == 2">
                    <li>
                        <a href="/person.html" class="fundi-item">
                            <img class="fundi-img circle-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇2</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺2</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇2</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺2</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇2</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <a href="#" class="fundiList2-btn-more">更多</a>
                </ul>
                <ul class="fundiList2" ui-if="activeTab ==3">
                    <li>
                        <a href="/person.html" class="fundi-item">
                            <img class="fundi-img circle-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇3</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺3</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇3</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <li>
                        <a href="person.html" class="fundi-item">
                            <img class="fundi-img" src="../common/imgs/1.jpg" />
                            <div class="fundi-name">版本神奇</div>
                            <div class="fundi-title">
                                <span>浙江 杭州</span>
                                <span>从事品牌:润和</span>
                            </div>
                            <div class="fundi-score">
                                <span>欢迎访问我的淘宝店铺</span>
                            </div>
                            <div class="grade grade-1-5"></div>
                        </a>
                    </li>
                    <a href="#" class="fundiList2-btn-more">更多</a>
                </ul>
            </div>
		</div>
	</div>
</div>
</html>