<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1" />
    <title></title>
    <script src="../common/jQuery/jquery-2.1.0.min.js"></script>
    <script src="../common/jQuery/jquery.mobile-1.4.5.min.js"></script>
    <script src="../common/mobile.js"></script>
    <script src="../common/swipe/swipe.js"></script>
    <script src="../common/js/common.js"></script>
    <link href="../common/jQuery/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="../common/css/chehi.css" rel="stylesheet" />
    <link href="../common/icomoon/icomoon.css" rel="stylesheet" />
    <script src="../common/jQuery/jquery.validate.min.js"></script>
    <script src="../common/jQuery/jquery.validate.addMethod.js"></script>
    <link href="../common/photoswipe/photoswipe.css" rel="stylesheet" />
    <link href="../common/photoswipe/default-skin/default-skin.css" rel="stylesheet" />
    <script src="../common/photoswipe/photoswipe.min.js"></script>
    <script src="../common/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="../common/photoswipe/creatPhotoswipe.js"></script>
    <link href="../common/mobiscroll/mobiscroll-2.11.1.full.min.css" rel="stylesheet" />
    <script src="../common/mobiscroll/mobiscroll-2.11.1.full.min.js"></script>
</head>
<body>
    <div data-role="page" id="friends">
        <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <a href="#" data-rel="back" class="ui-btn-left btn-back icomoon-fanhui">返回</a>
            <h1>验证信息</h1>
        </div>
        <div role="main" class="ui-content ui-content-full">
            <ul class="friends">
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇1</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇2</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇3</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇4</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇5</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                           <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇6</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                           <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇7</div>
                                    <div class="fundi-title">申请加入  新系统团队</div>
                                </a>
                            </li>
                           <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇8</div>
                                    <div class="fundi-title">已退出  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇9</div>
                                    <div class="fundi-title">已退出  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇10</div>
                                    <div class="fundi-title">已退出  新系统团队</div>
                                </a>
                            </li>
                           <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇11</div>
                                    <div class="fundi-title">已退出  新系统团队</div>
                                </a>
                            </li>
                            <li>
                                <a href="person.html" class="fundi-item">
                                    <img class="fundi-img" src="../common/imgs/1.jpg" />
                                    <div class="fundi-name">版本神奇12</div>
                                    <div class="fundi-title">已退出  新系统团队</div>
                                </a>
                            </li>
                        </ul>
        </div>
        <script>
            $(document).on("pageinit", "#friends", function () {
                var page = $(this);
                var searchBox = page.find("#J_SearchBox");
                
                //#region 搜索
                page.find("#J_Search").bind("tap", function (ev) {
                    ev.preventDefault();
                    $Goto("/friends.html");
                });
            });
        </script>
    </div>
</body>
</html>
