<div class="scrollable-wrap">
  <div class="scrollable">
    <div class="scrollable-content" lazy-load>
      <div class="myCar">
       <div class="myCar-right">
        <i class="car-img icomoon-default pull-left"></i>
        <span class="car-name">选择直销品牌</span>
        <span class="car-para">完善信息获取最佳体验</span>
        </div>
        <a href="车系选择.html" class="car-item"> 
          <i class=" icomoon-jiantou-xi"></i>
        </a>
      </div>
      <ul class="homeNavs clearfix">
        <li>
          <a href="{{prefix}}community" class="icomoon-yuyue">
            <div class="homeNavs-title">直销社区</div>
          </a>
        </li>
        <li>
          <a href="{{prefix}}customerlist" class="icomoon-baoyang">
            <div class="homeNavs-title">找经销商</div>
          </a>
        </li>
        <li>
          <a href="{{prefix}}customer" class="icomoon-qiangxiu">
            <div class="homeNavs-title">查找客户</div>
          </a>
        </li>
        <li>
          <a href="/技师列表.html" class="icomoon-huanxudianchi">
            <div class="homeNavs-title">招商加盟</div>
          </a>
        </li>
        <li>
          <a href="/进店维修.html" class="icomoon-jindianweixiu">
            <div class="homeNavs-title">直销资讯</div>
          </a>
        </li>
        <li>
          <a href="/tream.html" class="icomoon-jishi">
            <div class="homeNavs-title">直销团队</div>
          </a>
        </li>

        <li>
          <a href="/技师列表.html" class="icomoon-huanshachepian">
            <div class="homeNavs-title">直销课堂</div>
          </a>
        </li>
        <li>
          <a href="{{prefix}}need" class="icomoon-shigucheliang">
            <div class="homeNavs-title">发布需求</div>
          </a>
        </li>
      </ul>
      <div class="fundiListBox">
        <div class="fundiListBox-hd">
          <span>我附近的经销商</span>
        </div>
        <ul class="fundiList1">
          <li>
            <a href="{{prefix}}person" class="fundi-item fundi-collect">
              <img class="fundi-img" src="imgs/1.jpg" />
              <div class="fundi-name">版本神奇（满意）</div>
              <div class="fundi-info">
                从事品牌：润和   人气：
                <span class="price">108</span>
              </div>
              <div class="fundi-score">加入时间：2015年10月份</div>
              <i class="grade grade-1-5"></i>
            </a>
          </li>
          <li>
            <a href="{{prefix}}person" class="fundi-item fundi-collect">
              <img class="fundi-img" src="imgs/1.jpg" />
              <div class="fundi-name">版本神奇（满意）</div>
              <div class="fundi-info">
                从事品牌：润和   人气：
                <span class="price">108</span>
              </div>
              <div class="fundi-score">加入时间：2015年10月份</div>
              <i class="grade grade-1-5"></i>
            </a>
          </li>
          <li>
            <a href="{{prefix}}person" class="fundi-item fundi-collect">
              <img class="fundi-img" src="imgs/1.jpg" />
              <div class="fundi-name">版本神奇（满意）</div>
              <div class="fundi-info">
                从事品牌：润和   人气：
                <span class="price">108</span>
              </div>
              <div class="fundi-score">加入时间：2015年10月份</div>
              <i class="grade grade-1-5"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>