<div ui-content-for="title">
  <a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
  <span>发布需求</span>
</div>
<div class="scrollable-wrap">
  <div class="scrollable">
    <div class="scrollable-content">
      <div role="main" class="ui-content">
        <form novalidate="novalidate">
          <div class="need-contain">
            <div class="inputHasicon">
              <div class="ui-input-text icomoon-yonghu">
                <input name="name" value="" type="text" placeholder="输入姓名" data-role="none"></div>
            </div>
            <div class="inputHasicon">
              <div class="ui-input-text icomoon-phone">
                <input name="phone" value="" type="text" placeholder="输入联系电话" data-role="none"></div>
            </div>
            <div class="inputHasicon">
              <div class="ui-input-text icomoon-qq-write">
                <input name="phone" value="" type="text" placeholder="输入联系QQ" data-role="none"></div>
            </div>
            <div class="inputHasicon">
              <div class="ui-input-text icomoon-pingpai">
                <input name="phone" value="" type="text" placeholder="请选择品牌" data-role="none"></div>
            </div>
            <div class="inputHasicon">
              <div class="ui-input-text icomoon-documentvector">
                <textarea placeholder="我想要加入该品牌" class="no-border ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all ui-textinput-autogrow" style="padding-left: 0.4em; border: none; height: 41px;" name="content" id="J_Content"></textarea>
              </div>
            </div>
          </div>
          <button class="btn  btn-zxy-default active" type="submit">发布</button>
        </form>
      </div>
    </div>
  </div>
</div>