<div ui-content-for="title">
	<a class="pull-left icomoon-fanhui" href="{{prefix}}selectcity"></a>
	<span>个人信息</span>
</div>
<div class="scrollable-wrap">
	<div class="scrollable">
		<div class="scrollable-content">
			<div class="person-box">
				<img class="person-img" src="../common/imgs/1.jpg" />
				<div class="person-name">版本神奇</div>
				<div class="person-title">
					<span>正在从事:润和</span>
				</div>
			</div>
			<div class="person-list link-angle-r">
				<ul>
					<li>
						<span class="person-list-title">地区：</span>
						<span>浙江 杭州</span>
					</li>
					<li>
						<span class="person-list-title">个性签名：</span>
						<span>个性签名测试测试测试</span>
					</li>
					<li>
						<span class="person-list-title">所属企业：</span>
						<span>润和</span>
					</li>
					<li>
						<span class="person-list-title">所属团队：</span>
						<span>心系统团队</span>
					</li>
					<li>
						<a href="#">
							查看Ta的个人主页
							<span class="list-count">未开通</span>
						</a>
					</li>
					<li>
						<a href="#">
							查看Ta的微名片
							<span class="list-count">未开通</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>